# Ignore Core Logic Source Code (Asset Protection)
core/*.py
!core/__init__.py
core/setup.py

# Ignore Compiled Binaries (keep them in DIST zip only, or release as Releases)
*.pyd
*.so
*.dll
build/
dist/
__pycache__/
*.pyc

# Ignore Environment
.venv
.env
.idea
.vscode

# Ignore Logs and Temp files
*.log
comparison_plot.png
finance_history.csv
